<section
  id="contacto"
  class="contacto-seccion"
  aria-label="Sección de contacto"
>
  <div class="contacto-grid">
    <div class="contacto-info">
      <img
        src="/assets/images/LogoEmpresaNegro.png"
        alt="Logo AS Informática"
        width="200"
      />
      <hr />
      <p>
        AS Informática es una empresa especializada en el desarrollo e
        implementación de sistemas para contadores, empresas e industrias. Nos
        destacamos por la confiabilidad de nuestras soluciones, el uso de
        tecnología de vanguardia y el compromiso profesional de nuestro equipo.
      </p>
      <a
        class="contacto-mail"
        href="javascript:void(0)"
        onclick="mostrarEmail()"
        id="email-link"
      >
        Contactanos por email
      </a>
    </div>
    <div class="contacto-mapa">
      <div class="mapa-wrapper">
        <iframe
          class="google-maps"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1071.1599283160044!2d-57.51873389208036!3d-25.440330396421768!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945c53a59c036bb3%3A0x2ce9944328b0571b!2sQuinta%20C%C3%A1mpora%20Gonz%C3%A1lez!5e0!3m2!1ses-419!2spy!4v1762167452862!5m2!1ses-419!2spy"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          title="Ubicación"
        ></iframe>
      </div>
      <div class="direccion-mapa">
        <i class="ri-map-pin-2-fill icono-ubicacion"></i>
        Avda. Héroes de Ytororó 756 esq./San Pedro Ypané - Paraguay
      </div>
    </div>
    <div class="contacto-lateral">
      <div class="contacto-telefono-box">
        <i class="ri-phone-fill icono-telefono"></i>
        <div class="telefonos-lista">
          <div>Teléfono : <span>(021) 969-302</span></div>
          <div>Celular : <span>(0971) 242-742</span></div>
        </div>
      </div>
      <div class="redes-sociales">
        <a
          href="https://youtube.com/@ascontsystems?si=nXO6IOh6MDk1Bmy2"
          target="_blank"
          class="icono"
          aria-label="YouTube"
          ><i class="bi bi-youtube"></i
        ></a>
        <a
          href="https://wa.me/+595971242742"
          target="_blank"
          class="icono"
          aria-label="WhatsApp"
          ><i class="bi bi-whatsapp"></i
        ></a>
        <a
          href="https://www.instagram.com/ascontsystem?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          target="_blank"
          class="icono"
          aria-label="Instagram"
          ><i class="bi bi-instagram"></i
        ></a>
        <a
          href="https://www.facebook.com/share/1DKytsx1P1/"
          target="_blank"
          class="icono"
          aria-label="Facebook"
          ><i class="bi bi-facebook"></i
        ></a>
      </div>
      <div class="compañia">
        <p>Compañía</p>
        <a href="/HTML/empresa.html#nosotros">¿Quienes somos?</a>
        <a href="/HTML/empresa.html#trabajaConNosotros">Trabaja con nosotros</a>
        <a href="/HTML/empresa.html#misionYvision">Visión</a>
        <a href="/HTML/empresa.html#misionYvision">Misión</a>
        <a href="/HTML/politica-de-privacidad.html">Privacidad</a>
      </div>
    </div>
  </div>
  <footer class="footer-derechos">
    © 2025 AsCont Systems. Todos los derechos reservados. <br />
    Diseñado por AlejandroDiaz
  </footer>
</section>
