body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  background-image: url("/IMG/fondoDemo.png");
  background-size: cover;
  background-position: center top;
  font-family: "Montserrat", sans-serif;
}

.particles {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0; /* Debajo de todo */
  background: radial-gradient(
        circle,
        rgba(0, 255, 255, 0.4) 2px,
        transparent 2px
      )
      0 0 / 50px 50px,
    radial-gradient(circle, rgba(0, 255, 255, 0.3) 2px, transparent 2px) 25px
      25px / 60px 60px;

  /* Se desvanece a los 50% del ancho */
  mask-image: linear-gradient(to right, black 0%, black 40%, transparent 60%);
  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black 40%,
    transparent 60%
  );

  animation: move 20s linear infinite;
}

/* Animación suave tipo red neuronal moviéndose */
@keyframes move {
  from {
    background-position: 0 0, 25px 25px;
  }
  to {
    background-position: -200px 0, -175px 25px;
  }
}

main,
form {
  position: relative;
  z-index: 2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
form {
  background: rgba(0, 0, 0, 0.466);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  margin: 0 100px;
  border-radius: 10px;
  width: 450px;
  color: white;
  backdrop-filter: blur(5px);
}
input,
select,
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

input:focus,
select:focus {
  border: 2px solid #007bff;
}
button {
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}

.g-recaptcha {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  body {
    background-size: cover;
    background-position: center top;
  }

  main {
    justify-content: flex-start;
    padding: 20px;
    height: auto;
  }

  form {
    width: 100%;
    margin: 0;
    padding: 20px;
    gap: 12px;
  }

  h1 {
    font-size: 18px;
  }

  input,
  select,
  button {
    font-size: 14px;
    padding: 8px;
  }

  button {
    padding: 10px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center top;
  }
  form {
    width: 80%;
    margin: 20px auto;
    padding: 25px;
    gap: 15px;
  }

  h1 {
    font-size: 22px;
  }

  input,
  select,
  button {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  form {
    width: 450px;
  }

  h1 {
    font-size: 24px;
  }
  body {
    background-size: cover;
    background-position: center top;
  }
}
